<div class="container">
    <h1> FINRA Code Assesment </h1>
    <form [formGroup]="phoneNumberForm" (ngSubmit)="fetchPhoneNumberCombinations()">
        <div class="phone-form-group">
            <label for="phoneNumber">Please enter 5 digit Phone Number</label>
            <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control">
            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid">
                <div class="alert alert-warning" *ngIf="f.phoneNumber.errors.required">Phone Number is required.</div>
                <div class="alert alert-warning" *ngIf="f.phoneNumber.errors.pattern">Please enter a 5 digit Phone Number.</div>
            </div>
        </div>
        <button id="submit-btn" class="btn btn-primary" type="submit" [disabled]="!phoneNumberForm.valid">Submit</button>
    </form>
    <h4 *ngIf="phoneNumbers.length>0">Total Count is {{phoneNumbers.length}}</h4>
    <div id="list">
        <div *ngFor="let page of pageOfItems">{{page}}</div>
    </div>
    <!--Including the pagination control.-->
    <div class="text-right">
        <jw-pagination [items]="phoneNumbers" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>